# Python
__pycache__/
*.py[cod]
*$py.class
venv/
.venv/
env/
.env

# Model Artifacts (Keeping for now but can ignore if cloud training is preferred)
# model.pkl
# vectorizer.pkl

# IDEs
.idea/
.vscode/

# OS
.DS_Store
Thumbs.db
